@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

body {
    font-size: 12px;
    width: 1024px;
    height: 100vh;
}

header {
    /* background-color: red; */
    width: 50vw;
    height: 50vh;
}

header a {
    /* color: green; */
    font-size: 12px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}


/* fixed ratio */